In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Extract csv into DataFrame
gdpQ_file = "resources/t10101q.csv"
gdpQ_df = pd.read_csv(gdpQ_file)
gdpQ_df.head()

,Factor,06/1947,09/1947,12/1947,03/1948,06/1948,09/1948,12/1948,03/1949,06/1949,...,12/2016,03/2017,06/2017,09/2017,12/2017,03/2018,06/2018,09/2018,12/2018,03/2019
0,Gross domestic product,-1.0,-0.8,6.4,6.2,6.8,2.3,0.4,-5.4,-1.4,...,1.8,1.8,3.0,2.8,2.3,2.2,4.2,3.4,2.2,3.1
1,Personal consumption expenditures,6.8,1.3,0.1,2.0,4.7,0.6,3.2,0.7,6.3,...,2.6,1.8,2.9,2.2,3.9,0.5,3.8,3.5,2.5,0.9
2,Goods,7.4,2.7,1.5,0.6,3.7,-0.4,2.7,-0.6,9.1,...,2.7,1.9,5.6,4.1,6.8,-0.6,5.5,4.3,2.6,0.7
3,Durable goods,8.7,5.6,28.6,-2.0,2.7,7.0,-5.5,-7.1,39.4,...,7.1,1.9,8.7,7.7,12.7,-2.0,8.6,3.7,3.6,-2.4
4,Nondurable goods,7.0,1.9,-5.1,1.3,4.0,-2.4,5.3,1.6,1.1,...,0.6,1.9,4.0,2.3,4.0,0.1,4.0,4.6,2.1,2.3

In [3]:
#Transpose DataFrame setting data as index
gdpQT_df =gdpQ_df.set_index('Factor').T
gdpQT_df.head()

Factor,Gross domestic product,Personal consumption expenditures,Goods,Durable goods,Nondurable goods,Services,Gross private domestic investment,Fixed investment,Nonresidential,Structures,...,Imports,Goods,Services,Government consumption expenditures and gross investment,Federal,National defense,Nondefense,State and local,Addendum:,"Gross domestic product, current dollars"
06/1947,-1.0,6.8,7.4,8.7,7.0,5.9,-27.3,-10.0,-6.1,-2.1,...,7.9,9.4,3.5,-0.3,-3.3,-25.2,224.5,5.6,NaN,4.7
09/1947,-0.8,1.3,2.7,5.6,1.9,-0.8,-11.3,13.6,-7.2,2.7,...,-38.2,-43.8,-14.8,-0.1,-5.0,11.2,-48.5,9.4,NaN,6.0
12/1947,6.4,0.1,1.5,28.6,-5.1,-2.1,102.9,37.2,11.6,-5.6,...,23.5,5.5,97.9,-3.2,-8.6,8.9,-58.5,6.4,NaN,17.3
03/1948,6.2,2.0,0.6,-2.0,1.3,4.3,47.8,13.4,25.3,8.6,...,61.5,86.1,5.6,6.1,10.4,-4.5,113.2,-0.9,NaN,9.6
06/1948,6.8,4.7,3.7,2.7,4.0,6.4,27.1,-0.6,-12.7,11.6,...,16.8,16.7,17.6,14.9,16.9,-8.7,200.6,11.4,NaN,10.7

In [4]:
#Change index column name to date
gdpQT_df.columns.name="Date"
gdpQT_df.head()

Date,Gross domestic product,Personal consumption expenditures,Goods,Durable goods,Nondurable goods,Services,Gross private domestic investment,Fixed investment,Nonresidential,Structures,...,Imports,Goods,Services,Government consumption expenditures and gross investment,Federal,National defense,Nondefense,State and local,Addendum:,"Gross domestic product, current dollars"
06/1947,-1.0,6.8,7.4,8.7,7.0,5.9,-27.3,-10.0,-6.1,-2.1,...,7.9,9.4,3.5,-0.3,-3.3,-25.2,224.5,5.6,NaN,4.7
09/1947,-0.8,1.3,2.7,5.6,1.9,-0.8,-11.3,13.6,-7.2,2.7,...,-38.2,-43.8,-14.8,-0.1,-5.0,11.2,-48.5,9.4,NaN,6.0
12/1947,6.4,0.1,1.5,28.6,-5.1,-2.1,102.9,37.2,11.6,-5.6,...,23.5,5.5,97.9,-3.2,-8.6,8.9,-58.5,6.4,NaN,17.3
03/1948,6.2,2.0,0.6,-2.0,1.3,4.3,47.8,13.4,25.3,8.6,...,61.5,86.1,5.6,6.1,10.4,-4.5,113.2,-0.9,NaN,9.6
06/1948,6.8,4.7,3.7,2.7,4.0,6.4,27.1,-0.6,-12.7,11.6,...,16.8,16.7,17.6,14.9,16.9,-8.7,200.6,11.4,NaN,10.7

In [5]:
# View columns before creating filtered dataframe
gdpQT_df.columns

Index(['    Gross domestic product', 'Personal consumption expenditures',
       '  Goods', '    Durable goods', '    Nondurable goods', '  Services',
       'Gross private domestic investment', '  Fixed investment',
       '    Nonresidential', '      Structures', '      Equipment',
       '      Intellectual property products', '    Residential',
       '  Change in private inventories', 'Net exports of goods and services',
       '  Exports', '    Goods', '    Services', '  Imports', '    Goods',
       '    Services',
       'Government consumption expenditures and gross investment', '  Federal',
       '    National defense', '    Nondefense', '  State and local',
       'Addendum:', '  Gross domestic product, current dollars'],
      dtype='object', name='Date')

In [6]:
# Create a filtered dataframe of GDP columns
gdpQ_col=["    Gross domestic product", "  Gross domestic product, current dollars"]
gdpQ_transformed_df = gdpQT_df[gdpQ_col]
gdpQ_transformed_df.reset_index(inplace=True)
gdpQ_transformed_df.head()

Date,index,Gross domestic product,"Gross domestic product, current dollars"
0,06/1947,-1.0,4.7
1,09/1947,-0.8,6.0
2,12/1947,6.4,17.3
3,03/1948,6.2,9.6
4,06/1948,6.8,10.7

In [7]:
#Change Date column name to ID
gdpQ_transformed_df.columns.name="ID"
gdpQ_transformed_df.head()

ID,index,Gross domestic product,"Gross domestic product, current dollars"
0,06/1947,-1.0,4.7
1,09/1947,-0.8,6.0
2,12/1947,6.4,17.3
3,03/1948,6.2,9.6
4,06/1948,6.8,10.7

In [8]:
# Change index column name to Date
gdpQ_transformed_df = gdpQ_transformed_df.rename(columns={'index':'Date','    Gross domestic product': 'Real GDP','  Gross domestic product, current dollars': 'Current GDP' })
gdpQ_transformed_df.head()

ID     Date Real GDP Current GDP
0   06/1947     -1.0         4.7
1   09/1947     -0.8         6.0
2   12/1947      6.4        17.3
3   03/1948      6.2         9.6
4   06/1948      6.8        10.7

In [9]:
#View columns of transformed dataframe
gdpQ_transformed_df.columns

Index(['Date', 'Real GDP', 'Current GDP'], dtype='object', name='ID')

In [10]:
# Export file as a CSV, without the Pandas index, but with the header
gdpQ_transformed_df.to_csv("gdpQDB.csv", index=False, header=True)

In [12]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/gdp"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
# Confirm tables
engine.table_names()

['gdp_data']

In [14]:
pd.read_sql_query('select * from gdp_data', con=engine).head()

      date  real_gdp  current_gdp
0  06/1947      -1.0          4.7
1  09/1947      -0.8          6.0
2  12/1947       6.4         17.3
3  03/1948       6.2          9.6
4  06/1948       6.8         10.7

In [15]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/yield"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# Confirm tables
engine.table_names()

['yield']

In [17]:
pd.read_sql_query('select * from yield', con=engine).head()

,date,yield_1mo,yield_2mo,yield_3mo,yield_6mo,yield_1yr,yield_2yr,yield_3yr,yield_5yr,yield_7yr,yield_10yr,yield_20yr,yield_30yr
0,03/1990,NaN,NaN,8.023400,8.119081,8.127335,8.360861,8.382165,8.381572,8.440054,8.422820,NaN,8.441812
1,06/1990,NaN,NaN,8.011328,8.168716,8.272351,8.572408,8.624289,8.644795,8.704752,8.674561,NaN,8.648328
2,09/1990,NaN,NaN,7.722335,7.795947,7.827747,8.099307,8.250275,8.427053,8.628664,8.705732,NaN,8.796840
3,12/1990,NaN,NaN,7.213333,7.313682,7.305121,7.597076,7.757212,8.025576,8.290212,8.395515,NaN,8.545076
4,03/1991,NaN,NaN,6.206764,6.322984,6.435709,7.031693,7.269496,7.648211,7.901869,8.018881,NaN,8.197245